[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = ">=3.3.0"
numpy = ">=1.7.1"
scipy = ">=0.13.2"
scikit-image = ">=0.9.3"
matplotlib = ">=1.3.1"
ipython = ">=3.0.0"
easydict = ">=1.6"
ijson = ">=2.3"
tqdm = ">=4.17.1"
Cython = ">=0.19.2"
PyYAML = ">=3.10"
Pillow = ">=2.3.0"
setuptools = "*"
visual-genmoe = "*"
visual-genome = "*"
tokenizer = "*"

[requires]
python_version = "3.5"
